Repository hahwul/zaproxy-ruby, changes with the labels that .github/labeler.yml gives for each.
All labels: 📚 library, ⚡️ zapv2, 💊 spec, 🦺 github-action, 🛥️ workflow

.github/labeler.yml:

📚 library:
- changed-files:
  - any-glob-to-any-file: 
    - lib/**

⚡️ zapv2:
- changed-files:
  - any-glob-to-any-file: 
    - lib/zap/v2apis/**

💊 spec:
- changed-files:
  - any-glob-to-any-file: spec/**

🦺 github-action:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**

🛥️ workflow:
- changed-files:
  - any-glob-to-any-file: 
    - .github/workflows/**
    - .github/labeler.yml

Update CI Name
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
Labels: 🦺 github-action, 🛥️ workflow

Linting
  lib/zap/zapv2.rb
Labels: 📚 library

Update
  .github/workflows/ci.yml
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
  Gemfile
  zaproxy.gemspec
Labels: 🦺 github-action, 🛥️ workflow

🙈 Update .gitignore
  .gitignore
Labels: none

Fixed
  zaproxy.gemspec
Labels: none

Update
  .github/workflows/ci.yml
  zaproxy.gemspec
Labels: 🦺 github-action, 🛥️ workflow

🚨 Linting
  Gemfile
  zaproxy.gemspec
Labels: none

Fixed bug in Rakefile
  Rakefile
Labels: none
